<p>
	<%= link_to "Back to articles", articles_path %>
</p>

<div class="container mt-4" id="create-form">
	<div class="card text-center">
		<div class="card-header">
			UPDATE ARTICLES
		</div>
		<div class="card-body">
			<%= render 'forms' %>
		</div>
		<div class="card-footer text-muted">
			<%= link_to "Back to articles", articles_path %>
		</div>
	</div>
</div>