<h2 class="text-center mt-4 mb-4">Articles</h2>
<%= render 'article' %>
<div class="flickr_pagination mt-2">
	<div class="page_info mt-2">
		<%= page_entries_info @articles %>
	</div>
	<%= will_paginate @article, :container => false %>
	<br/>
	<br/>
	<br/>
	<br/>
</div>