<div class="container mt-4 col-sm-8" id="create-form">
	<div class="card text-center">
		<div class="card-header">
			EDIT USER ACCOUNT
		</div>
		<div class="card-body mt-5">
			<%= render 'form' %>
		</div>
		<div class="card-footer text-muted mt-5">
			<%= link_to "Back to articles", articles_path %>
		</div>
	</div>
</div>